*{
    margin: 0;
    padding: 0;
    }

body{
    background: url(fundo.jpg) no-repeat;
    background-size: 100vw 100vh;
    }
img{
    width: 60px;
    }

nav{
    background: rgba(16, 16, 16, 0.5);
    width: 200px;
    height: 100%;
    position: absolute;
    left: -200px;
    transition: all .5s;
    }

input[type="checkbox"]{
    display: none;
    }

input[type="checkbox"]:checked ~ nav{
    transform: translateX(200px);
    }

ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
    }
a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px 20px;
    }

a:hover{
    background: rgba(175, 225, 225, 0.6);
    color: blueviolet;
    }

label{
    padding: 15px;
    position: absolute;
    z-index: 1;
    }